<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.cqupt.taobao">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity android:name=".view.activity.GoodInfoActivity"></activity>
        <activity android:name=".view.activity.RegisterActivity" />
        <activity android:name=".view.activity.SubmitGoodActivity" />
        <activity android:name=".view.activity.PublishActivity" />
        <activity android:name="com.ycl.chooseavatar.library.CropImageViewActivity" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:theme="@style/AppThemeDark" />
        <activity android:name=".view.activity.LauncherUI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>